.hero {
  padding-block: 5rem;
}

.hero img {
  height: 400px;
  width: 400px;
  object-fit: cover;
  border-radius: 100%;
}

.about {
  padding-block: 5rem;

}

.about img {
  max-width: 400px;
  width: 100%;
  height: auto;
}

.products {
  padding-block: 5rem;
}

.products .card-img-top {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.new {
  height: 100px;
  width: 100px;
  object-fit: cover;
}

.footer {
    padding-block: 2rem;
  }
  
  .footer .copyright {
    font-size: 0.8rem;
  }